<input
  class="tags"
  type="text"
  id="search-tags"
  name="tags"
  placeholder="Tags"
  hx-post="/search_tags"
  hx-trigger="input changed delay:500ms"
  hx-target="next .tags-autocomplete"
  hx-swap="innerHTML"
  hx-vals="js:{selection_end: document.querySelector('.tags').selectionEnd}"
  hx-on::after-settle="document.querySelector('.tags').focus(); document.querySelector('.tags').setSelectionRange(-1, -1);"
  value="{{ tags_value }}"
  aria-autocomplete="list"
  aria-controls="search-autocomplete"
/>
