<!doctype html>
<html lang="en">
    <head>
        <title>Pools - {{ application_name }}</title>
        <meta property="og:site_name" content="{{ application_name }}" />
        {% include "fragments/common_headers.html" %}
    </head>
    <body>
        {% if age_confirmation %}{% include
        "fragments/age_restricted_check.html" %}{% endif %}
        <div><a href="/">&lt; To home</a></div>
        <main>
            <h1>Pools</h1>
            {% if pools.is_empty() %}
            <div>No pools found!</div>
            {% else %}
            <ul>
                {% for pool in pools %}
                <li>
                    <a href="/pool/{{ pool.id }}"> {{ pool.name }} </a>
                </li>
                {% endfor %}
            </ul>
            <hr />
            <div>
                <div class="flex"><span>Pages</span></div>
                <ul class="reset flex">
                    {% for i in 1..=page_count %}
                    <li>
                        {% if i == page as u64 %}
                        <b>{{ i }}</b>
                        {% else %}
                        <a href="/pools/{{ i }}">{{ i }}</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </main>
    </body>
</html>
