<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Settings - {{ application_name }}</title>
    {% include "fragments/common_headers.html" %}
  </head>
  <body>
    <div><a href="/">&lt; To home</a></div>
    <main>
      <h1>Settings</h1>
      <form hx-put="/settings" hx-swap="none">
        <label>Application name</label>
        <input
          name="application_name"
          type="text"
          value="{{ application_name }}"
        />
        <button>Submit</button>
      </form>
    </main>
  </body>
</html>
